body{
    background-color: blue;
    margin-top: 3px;
    background-image: url("pozadina.jpg");
    background-repeat: repeat;
}
.clr{
    clear: both;
}
#okvir{
    margin-left: auto;
    margin-right: auto;
    min-width: 550px;
    max-width: 1200px;
}
#banner{
    margin: 0 auto;
    padding: 0px;
}
#banner img{
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%;
    border-radius: 4px;
}
#banner ul{
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 2px;
}
#banner li{
    background-color: white;
    border-radius: 7px;
    display: inline;
    padding-right: 30px ;
    padding-left: 30px;
    padding-top: 2px;
    padding-bottom: 1px;
    font-weight: bolder;
}
#banner a{
    text-decoration: none;
    color: black;
}
#banner a:hover{
    color: red; 
}
table,th,td{
    border-collapse: collapse;
}
table{
   overflow: auto;
}
.solid_oko_naslova{
    text-align: center;
}
.pretraga{
    margin-bottom: 4px;
}
#po_predmetu{
    width: 260px;
}
#po_nastavniku{
    width: 260px;
}
#po_godini{
    width: 260px;
}
#prva_tabela{
    margin-right: 5px;
    background-color: white;
    display: block;
    width: 39%;
    float: left;
    box-sizing: border-box;
}
#prva_tabela th{
    border: 1px solid black;
    background-color: grey;
    font-weight: bolder;
}
#prva_tabela td{
    border: 1px dashed black;
    font-style: italic;
    font-weight: bold;
    color: red;
    background-color: lemonchiffon;
}
#druga_tabela{
    background-color: white;
    display: block;
    width: 60%;
    float: right;
    box-sizing: border-box;
}
#druga_tabela th{
    border: 1px solid darkblue;
    border-bottom: none;
    background-color: grey;
    font-weight: bolder;
}
#druga_tabela td{
    border: 1px solid darkblue;
    font-weight: bolder;
}
#druga_tabela .gornji_border {
    border-top: none;
    border-right: 1px dashed darkblue;
}

#druga_tabela .crtice{
    border-left: 1px dashed darkblue;
    border-right: 1px dashed darkblue;
    border-top: 1px dashed darkblue;
}
#druga_tabela .posljednja_uspravna{
    border-right: 1px solid darkblue;
}
#druga_tabela .tutorial{
    background-color: lightblue;
    color: darkblue;
    font-weight: bold;
    text-align: center;
    font-size: small;
    font-style: italic;
}
#druga_tabela .vjezba{
    background-color: lightgreen;
    color: darkgreen;
    font-weight: bold;
    text-align: center;
    font-size: small;
    font-style: italic;
}
#druga_tabela .predavanje{
    background-color: rgb(253, 220, 158);
    color: darkorange;
    font-weight: bold;
    text-align: center;
    font-size: small;
    font-style: italic;
}
#druga_tabela .kombinacija{
    background-color: lightgray;
    color: black;
    font-weight: bold;
    text-align: center;
    font-size: small;
    font-style: italic;
}
footer{
    background-color: white;
    border-radius: 4px;
}
footer ul{
    padding-left: 3px;
    margin: 0 auto;
    margin-top: 3px;
}
footer li{
    display: inline;
    padding-right: 40px;
    font-style: italic ;
    font-weight: bold;
}
footer a{
    text-decoration: none;
    color: darkblue;
}
footer a:hover{
    color: red;
}