body{
    background-color: blue;
    margin-top: 3px;
    background-image: url("pozadina.jpg");
    background-repeat: repeat;
}
.clr{
    clear: both;
}
#okvir{
    margin-left: auto;
    margin-right: auto;
    min-width: 550px;
    max-width: 1200px;
}
#banner{
    margin: 0 auto;
    padding: 0px;
}
#banner img{
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%;
    border-radius: 4px;
}
#banner ul{
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 2px;
}
#banner li{
    background-color: white;
    border-radius: 7px;
    display: inline;
    padding-right: 30px ;
    padding-left: 30px;
    padding-top: 2px;
    padding-bottom: 1px;
    font-weight: bolder;
}
#banner a{
    text-decoration: none;
    color: black;
}
#banner a:hover{
    color: red; 
}
#horizontalno_centriranje{
    background-color: white;
    border-radius: 8px;
}
.forma{
    margin-left:auto;
    margin-right:auto;
    width: 316px;
}
.razmak{
    line-height: 2.3;
}
.forma [type=file]{
    background-color: rgb(231, 228, 223);
}
footer{
    background-color: white;
    border-radius: 4px;

}
footer ul{
    padding-left: 3px;
    margin: 0 auto;
    margin-top: 3px;
}
footer li{
    display: inline;
    padding-right: 40px;
    font-style: italic ;
    font-weight: bold;
}
footer a{
    text-decoration: none;
    color: darkblue;
}
footer a:hover{
    color: red;
}