body{
    background-color: blue;
    margin-top: 3px;
    background-image: url("pozadina.jpg");
    background-repeat: repeat;
}
.clr{
    clear: both;
}
#okvir{
    margin-left: auto;
    margin-right: auto;
    min-width: 200px;
    max-width: 1200px;
}
#banner{
    margin: 0 auto;
    padding: 0px;
}
#banner img{
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%;
    border-radius: 4px;
}
#banner ul{
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 2px;
}
#banner li{
    background-color: white;
    border-radius: 7px;
    display: inline;
    padding-right: 30px ;
    padding-left: 30px;
    padding-top: 2px;
    padding-bottom: 1px;
    font-weight: bolder;
}
#banner a{
    text-decoration: none;
    color: black;
}
#banner a:hover{
    color: red;
}
.bijela_pozadina{
    background-color: white;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.okvir1{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-gap: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.okvir1 .lab1{
    background-color: rgb(171, 248, 248);
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: auto;
    grid-column: 1/2;
    grid-row: 1/2;
    border-radius: 5px;
}
.okvir1 .lab2{
    background-color: rgb(171, 248, 248);
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: auto;
    grid-column: 1/2;
    grid-row: 2/3;
    border-radius: 5px;
}
.okvir1 .lab3{
    background-color: rgb(171, 248, 248);
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: auto;
    grid-column: 1/2;
    grid-row: 3/4;
    border-radius: 5px;
}
.okvir1 img{
    width: 100%;
    border-radius: 5px;
}
.slika1{
    grid-column: 1/4;
    margin-left: 10px;
    margin-top: 10px;
}
.opis_u_lab{
    grid-column: 4/8;
    margin-left: 10px;
    margin-right: 10px;
}
.opis_u_lab p{
    text-align: center;
}
.opis_u_lab ul{
    text-align: center;
}
.opis_u_lab li{
    list-style: none;
}
.slika2{
    grid-column: 8/11;
    margin-right: 10px;
    margin-top: 10px;
}
.godina1{
    grid-column: 1/4;
    grid-row: 2/3;
    text-align: center;
}
.godina2{
    grid-column: 1/4;
    grid-row: 3/4;
    text-align: center;
}
.tekst_opisa{
    grid-column: 4/11;
    grid-row: 2/4;
    margin-left: 10px;
    margin-top: 10px;
    text-align: center;
}

.boja{
    background-color: rgb(171, 248, 248);
    border-radius: 8px;
}
.slika img{
    width: 100%;
    border-radius: 10px;
}
.lista{
    text-align: center;
}
.lista li{
    list-style: none;
}

footer{
    background-color: white;
    border-radius: 4px;
}
footer ul{
    padding-left: 3px;
    margin: 0 auto;
    margin-top: 3px;
}
footer li{
    display: inline;
    padding-right: 40px;
    font-style: italic ;
    font-weight: bold;
}
footer a{
    text-decoration: none;
    color: darkblue;
}
footer a:hover{
    color: red;
}