body{
    background-color: blue;
    margin-top: 3px;
    background-image: url("pozadina.jpg");
    background-repeat: repeat;
}
.clr{
    clear: both;
}
p{
    font-style: italic;
    font-weight: bold;
}
#okvir{
    margin-left: auto;
    margin-right: auto;
    min-width: 550px;
    max-width: 1200px;
}
.bijela_pozadina{
    background-color: white;
    border-radius: 7px;
}
#banner{
    margin: 0 auto;
    padding: 0px;
}
#banner img{
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%;
    border-radius: 4px;
}
#banner ul{
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 2px;
}
#banner li{
    background-color: white;
    border-radius: 7px;
    display: inline;
    padding-right: 30px ;
    padding-left: 30px;
    padding-top: 2px;
    padding-bottom: 1px;
    font-weight: bolder;
}
#banner a{
    text-decoration: none;
    color: black;
}
#banner a:hover{
    color: red; 
}
.okvir1 ul{
    text-align: center;
    padding: 0px;
}
.okvir1 li{
    display: inline;
    margin: 0 auto;
    padding: 0px;
    padding-right: 15px;
}
.okvir1 a{
    text-decoration: none;
    color: black;
    text-align: center;
    font-weight: bold;
}
.okvir1 a:hover{
    color:red;
}
.okvir1{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-gap: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
}
.okvir1 .kartica{
    display: grid;
    width: 75%;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 210px 50px 50px 50px 55px;
    background-color: rgb(171, 248, 248);
    grid-column: 1/2;
    grid-row: 1/2;
    border: 1px solid black;
    justify-self: right;
    border-radius: 10px;
}
.okvir1 .kartica1{
    display: grid;
    width: 75%;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 210px 50px 50px 50px 55px;
    background-color: rgb(171, 248, 248);
    grid-column: 2/3;
    grid-row: 1/2;
    border: 1px solid black;
    justify-self: left;
    border-radius: 10px;
}
.okvir1 .kartica3{
    display: grid;
    width: 75%;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 210px 50px 50px 50px 55px;
    background-color: rgb(171, 248, 248);
    grid-column: 1/2;
    grid-row: 2/3;
    border: 1px solid black;
    justify-self: right;
    border-radius: 10px;
}
.okvir1 .kartica4{
    display: grid;
    width: 75%;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 210px 50px 50px 50px 55px;
    background-color: rgb(171, 248, 248);
    grid-column: 2/3;
    grid-row: 2/3;
    border: 1px solid black;
    justify-self: left;
    border-radius: 10px;
}
.okvir2 ul{
    text-align: center;
    padding: 0px;
}
.okvir2 li{
    display: inline;
    margin: 0 auto;
    padding: 0px;
    padding-right: 15px;
}
.okvir2 a{
    text-decoration: none;
    color: black;
    text-align: center;
    font-weight: bold;
}
.okvir2 a:hover{
    color:red;
}
.okvir2{
    display: grid;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-gap: 20px;
    padding-bottom: 10px;
}
.okvir2 .kartica5{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 210px 50px 50px 55px;
    background-color: rgb(206, 243, 158);
    grid-column: 1/2;
    grid-row: 1/2;
    border: 1px solid black;
    justify-self: right;
    border-radius: 10px;
}
.okvir2 .kartica6{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 210px 50px 50px 55px;
    background-color: rgb(206, 243, 158);
    grid-column: 2/3;
    grid-row: 1/2;
    border: 1px solid black;
    justify-self: center;
    border-radius: 10px;
}
.okvir2 .kartica7{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 210px 50px 50px 55px;
    background-color: rgb(206, 243, 158);
    grid-column: 3/4;
    grid-row: 1/2;
    border: 1px solid black;
    justify-self: left;
    border-radius: 10px;
}
.okvir2 .kartica8{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 210px 50px 50px 55px;
    background-color: rgb(206, 243, 158);
    grid-column: 1/2;
    grid-row: 2/3;
    border: 1px solid black;
    justify-self: right;
    border-radius: 10px;
}
.okvir2 .kartica9{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 210px 50px 50px 55px;
    background-color: rgb(206, 243, 158);
    grid-column: 2/3;
    grid-row: 2/3;
    border: 1px solid black;
    justify-self: center;
    border-radius: 10px;
}
.okvir2 .kartica10{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 210px 50px 50px 55px;
    background-color: rgb(206, 243, 158);
    grid-column: 3/4;
    grid-row: 2/3;
    border: 1px solid black;
    justify-self: left;
    border-radius: 10px;
}
.slika{
    grid-column: 1/4;
    grid-row: 1/2;
}
.slika img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 192px;
    width: 108px;
    border: 3px solid black;
    margin-top: 5px;
    margin-bottom: 5px;
}
.ime_prezime{
    grid-column: 1/4;
    grid-row: 2/3;
    text-align: center;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}
.titula{
    grid-column: 1/4;
    grid-row: 3/4;
    text-align: center;
    border-bottom: 1px solid black;
}
.broj_kancelarije{
    grid-column: 1/4;
    grid-row: 4/5;
    text-align: center;
    border-bottom: 1px solid black;
}
.linkovi{
    grid-column: 1/4;
    grid-row: 5/6;
}

.slika1{
    grid-column: 1/4;
    grid-row: 1/2;
}
.slika1 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 192px;
    width: 108px;
    border: 3px solid black;
    margin-top: 5px;
    margin-bottom: 5px;
}
.ime_prezime1{
    grid-column: 1/4;
    grid-row: 2/3;
    text-align: center;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}
.broj_kancelarije1{
    grid-column: 1/4;
    grid-row: 3/4;
    text-align: center;
    border-bottom: 1px solid black;
}
.linkovi1{
    grid-column: 1/4;
    grid-row: 4/5;
}
footer{
    background-color: white;
    border-radius: 4px;
}
footer ul{
    padding-left: 3px;
    margin: 0 auto;
    margin-top: 3px;
}
footer li{
    display: inline;
    padding-right: 40px;
    font-style: italic ;
    font-weight: bold;
}
footer a{
    text-decoration: none;
    color: darkblue;
}
footer a:hover{
    color: red;
}