body{
    background-color: blue;
    margin-top: 3px;
    background-image: url("pozadina.jpg");
    background-repeat: repeat;
}
.clr{
    clear: both;
}
#okvir{
    margin-left: auto;
    margin-right: auto;
    min-width: 550px;
    max-width: 1200px;
}
#banner{
    margin: 0 auto;
    padding: 0px;
}
#banner img{
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%;
    border-radius: 4px;
}
#banner ul{
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 2px;
}
#banner li{
    background-color: white;
    border-radius: 7px;
    display: inline;
    padding-right: 30px ;
    padding-left: 30px;
    padding-top: 2px;
    padding-bottom: 1px;
    font-weight: bolder;
}
#banner a{
    text-decoration: none;
    color: black;
}
#banner a:hover{
    color: red; 
}
#lista1{
    background-color: white;
    border-radius: 10px;
    width: 25%;
    float: left;
    box-sizing: border-box;
    min-height: 350px;
}
#lista1 h3{
    text-align: center;
}
#lista1 ul{
    list-style: url("knjiga-ikona.png");
    text-align: left;
}
#lista1 li{
    padding-left: 0px;
    margin-left: 0px;
    line-height: 1.3;
    text-align: left;
}
#slika img{
    float: left;
    box-sizing: border-box;
    border-radius: 4px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 20px;
}
#lista2{
    background-color: white;
    border-radius: 10px;
    float: left;
    width: 25%;
    box-sizing: border-box;
    margin: 0px;
    padding:0px;
    min-width: auto;
    min-height: 350px;
}
#lista2 ul{
    list-style:url("racunar-ikona.png");
    text-align: left;
    line-height: 1.3;
}
#lista2 h3{
    text-align: center;
}
footer{
    background-color: white;
    border-radius: 4px;

}
footer ul{
    padding-left: 3px;
    margin: 0 auto;
    margin-top: 3px;
}
footer li{
    display: inline;
    padding-right: 40px;
    font-style: italic ;
    font-weight: bold;
}
footer a{
    text-decoration: none;
    color: darkblue;
}
footer a:hover{
    color: red;
}