body{
    background-color: blue;
    margin-top: 3px;
    background-image: url("pozadina.jpg");
    background-repeat: repeat;
}
.clr{
    clear: both;
}
ul,li{
    margin: 0px;
}
#okvir{
    margin-left: auto;
    margin-right: auto;
    min-width: 550px;
    max-width: 1200px;
}
#banner{
    margin: 0 auto;
    padding: 0px;
}
#banner img{
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%;
    border-radius: 4px;
}
#banner ul{
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 2px;
}
#banner li{
    background-color: white;
    border-radius: 7px;
    display: inline;
    padding-right: 30px ;
    padding-left: 30px;
    padding-top: 2px;
    padding-bottom: 1px;
    font-weight: bolder;
}
#banner a{
    text-decoration: none;
    color: black;
}
#banner a:hover{
    color: red; 
}
.boja_pozadine{
    background-color: white;
    margin: 0px;
    border-radius: 10px;
}
.okvir1{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: auto;
    grid-gap: 15px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.okvir1 #FWT{
    display: grid;
    background-color: rgb(71, 219, 219);
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: auto;
    grid-column: 1/2;
    grid-row: 1/2;
    border: 1px solid black;
    margin-top: 7px;
    border-radius: 7px;
}
.okvir1 #TP{
    display: grid;
    background-color: rgb(71, 219, 219);
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: auto;
    grid-column: 1/2;
    grid-row: 2/3;
    border: 1px solid black;
    border-radius: 7px;
}
.okvir1 #UUP{
    display: grid;
    background-color: rgb(71, 219, 219);
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: auto;
    grid-column: 1/2;
    grid-row: 3/4;
    border: 1px solid black;
    border-radius: 7px;
}
.okvir1 #UBP{
    display: grid;
    background-color: rgb(71, 219, 219);
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: auto;
    grid-column: 1/2;
    grid-row: 4/5;
    border: 1px solid black;
    border-radius: 7px;
}
.okvir1 #VIS{
    display: grid;
    background-color: rgb(71, 219, 219);
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: auto;
    grid-column: 1/2;
    grid-row: 5/6;
    border: 1px solid black;
    border-radius: 7px;
}
.okvir1 #WT{
    display: grid;
    background-color: rgb(71, 219, 219);
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: auto;
    grid-column: 1/2;
    grid-row: 6/7;
    border: 1px solid black;
    border-radius: 7px;
}
.okvir1 #RMA{
    display: grid;
    background-color: rgb(71, 219, 219);
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: auto;
    grid-column: 1/2;
    grid-row: 7/8;
    border: 1px solid black;
    border-radius: 7px;
}
.okvir1 #MUR1{
    display: grid;
    background-color: rgb(71, 219, 219);
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: auto;
    grid-column: 1/2;
    grid-row: 8/9;
    border: 1px solid black;
    border-radius: 7px;
}
.okvir1 #RS{
    display: grid;
    background-color: rgb(71, 219, 219);
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: auto;
    grid-column: 1/2;
    grid-row: 9/10;
    border: 1px solid black;
    border-radius: 7px;
}
.okvir1 #RAM{
    display: grid;
    background-color: rgb(71, 219, 219);
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: auto;
    grid-column: 1/2;
    grid-row: 10/11;
    border: 1px solid black;
    border-radius: 7px;
}
.okvir1 #ASP{
    display: grid;
    background-color: rgb(71, 219, 219);
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: auto;
    grid-column: 1/2;
    grid-row: 11/12;
    border: 1px solid black;
    border-radius: 7px;
    margin-bottom: 7px;
}
.naslov{
    grid-column: 1/4;
    grid-row: 1/2;
    border-bottom: 1px solid black;
    text-align: center;
    font-size: larger;
    margin: 0px;
    padding: 5px;
    font-weight: bolder;
    color: darkgoldenrod;
}
.prof{
    grid-column: 1/4;
    grid-row: 2/3;
    border-bottom: 1px solid black;
    margin: 0px;
}
.prof p{
    margin: 5px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}
.prof ul{
    text-align: center;
    padding: 0px;
}
.prof li{
    list-style: none;
    margin: 0px;
    text-align: center;
    font-weight: bold;
    font-style: oblique;
    font-family: Arial;
}
.asis{
    grid-column: 1/4;
    grid-row: 3/4;
    border-bottom: 1px solid black;
    margin: 0px;
}
.asis p{
    margin: 5px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}
.asis ul{
    text-align: center;
    padding: 0px;
}
.asis li{
    list-style: none;
    margin: 0px;
    text-align: center;
    font-weight: bold;
    font-style: oblique;
    font-family: Arial;
}
.br_cas_pred{
    grid-column: 1/4;
    grid-row: 4/5;
    border-bottom: 1px solid black;
    margin: 0px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}
.br_cas_vjez{
    grid-column: 1/4;
    grid-row: 5/6;
    border-bottom: 1px solid black;
    margin: 0px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}
.br_cas_tut{
    grid-column: 1/4;
    grid-row: 6/7;
    margin: 0px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}
.opis{
    grid-column: 4/8;
    grid-row: 1/7;
    border-right: 1px solid black;
    border-left: 1px solid black;
    margin: 0px;
    padding: 10px;
    text-align: center;
    font-weight: lighter;
    font-style: italic;
}
.lista_tema{
    grid-column: 8/11;
    grid-row: 1/7;
    padding: 0px;
}
.lista_tema p{
    margin: 5px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}
.lista_tema ul{
    padding-left: 20px;
}
.lista_tema li{
    list-style: circle;
    margin: 0px;
    font-weight: normal;
    font-style: oblique;
}
#dugmad{
    background-color: white;
    border-radius: 6px;
    margin-top: 3px;
    height: 35px;
}
.izgled{
   margin-top: 6px;
   margin-left: 20px;
   font-weight: bold;
}
footer{
    background-color: white;
    border-radius: 4px;

}
footer ul{
    padding-left: 3px;
    margin: 0 auto;
    margin-top: 3px;
}
footer li{
    display: inline;
    padding-right: 40px;
    font-style: italic ;
    font-weight: bold;
}
footer a{
    text-decoration: none;
    color: darkblue;
}
footer a:hover{
    color: red;
}